name: Create Github Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create release
        run: |
          gh release create "${GITHUB_REF#refs/tags/}" \
            --generate-notes \
            --title "${GITHUB_REF#refs/tags/}"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
